<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Twilio Conversations</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/sidebar.css">
  <link rel="stylesheet" href="/css/message-pane.css">
  <link rel="stylesheet" href="/css/modals.css">
</head>
<body>
  <% include('header.ejs') %>
  <% include('sidebar.ejs') %>
  <% include('message-pane.ejs') %>
  <% include('modals.ejs') %>
  <% include('footer-scripts.ejs') %>
</body>
</html>