<main id="message-pane">
    <div id="messages-title">
      <span id="conversation-title"></span>
      <span class="close-button" onclick="closeConversation()">✕</span>
    </div>
  
    <div id="loading-spinner" class="spinner"></div>
    <div id="no-conversation">No conversation selected</div>
    <div id="messages"></div>
    <div id="message-input">
      <input type="text" id="new-message" placeholder="Message...">
      <button onclick="sendMessage()">Send</button>
    </div>
  </main>